examples/04-regex.json
[
    {
        "id": "rx-tab",
        "type": "tab",
        "label": "join-wait regex paths",
        "disabled": false,
        "info": "Wait for any one of sensor_a/sensor_b/sensor_c plus heartbeat,\nmatched by regex. Useful when path names follow a naming convention."
    },
    {
        "id": "rx-i1",
        "type": "inject",
        "z": "rx-tab",
        "name": "sensor_a",
        "props": [
            { "p": "topic", "v": "sensor_a", "vt": "str" },
            { "p": "payload", "v": "42", "vt": "num" }
        ],
        "x": 130,
        "y": 80,
        "wires": [["rx-jw"]]
    },
    {
        "id": "rx-i2",
        "type": "inject",
        "z": "rx-tab",
        "name": "heartbeat",
        "props": [
            { "p": "topic", "v": "heartbeat", "vt": "str" },
            { "p": "payload", "v": "ok", "vt": "str" }
        ],
        "x": 130,
        "y": 140,
        "wires": [["rx-jw"]]
    },
    {
        "id": "rx-jw",
        "type": "join-wait",
        "z": "rx-tab",
        "name": "regex match",
        "paths": ["^sensor_[abc]$", "^heartbeat$"],
        "pathsToExpire": [],
        "useRegex": true,
        "warnUnmatched": false,
        "pathTopic": "topic",
        "pathTopicType": "msg",
        "correlationTopic": "",
        "correlationTopicType": "undefined",
        "timeout": "10",
        "timeoutUnits": "1000",
        "exactOrder": "false",
        "firstMsg": "true",
        "mapPayload": "true",
        "disableComplete": false,
        "persistOnRestart": false,
        "persistStore": "",
        "x": 360,
        "y": 110,
        "wires": [["rx-success"], ["rx-expired"]]
    },
    {
        "id": "rx-success",
        "type": "debug",
        "z": "rx-tab",
        "name": "success",
        "active": true,
        "tosidebar": true,
        "complete": "true",
        "x": 540,
        "y": 80,
        "wires": []
    },
    {
        "id": "rx-expired",
        "type": "debug",
        "z": "rx-tab",
        "name": "expired",
        "active": true,
        "tosidebar": true,
        "complete": "true",
        "x": 540,
        "y": 140,
        "wires": []
    }
]
